@{ 
    ViewData["Title"] = "About";
}

<p>This website is about Animals 
    It's about this animal shelter called the Humane Society Tacoma-Pierce County
    You can adopt animals like dogs, cats, rabbits etc. 
    They have a goal to have animals they keep have a happier home for those who adopt them.</p>

<img src="~/Content/gifs/doge.gif" />