@{
    ViewData["Title"] = "Home Page";
}

<h2>Welcome to the AnimalMVC website. </h2>

<p>This website will given information about the Humane Society Tacoma-Pierce County animal shelter.</p>

<img src="~/Content/gifs/binko.gif" />

<p>Here's a gif of my dog, I've gotten from a shelter.<p>

